body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    height: 290px;
    width: 1070px;
  }
  
  th, td {
    padding-left: 20px;
    text-align: left;
    border-bottom: 1px solid rgba(114, 114, 114, 0.589);
  }

  th {
    background-color: black;
    color: white;
    border-bottom: none;
  }
  
  td {
    font-family: OpenSans-Regular;
    font-size: 15px;
  }